/* 
    Document   : console
    Created on : 23-Feb-2013, 7:54:01 PM
    Author     : dawson
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#noct-console {
    margin: 10px 10px 10px 13px;
    height:100%;
    float: left;
}

.noct-screen {
  background-color:#3E3E3E;
  height:90%;
  overflow-y:scroll;
  width: 100%;
  border: 1px solid #000;
}

#noct-stdout {
}

#noct-stdin {
    background-color:transparent; 
    border: 0px solid;
    width:95%;
    outline-width: 0;
}

.noct-cfont {
  color:#7ACC29;
  font-size: 14px;
}