/* 
    Document   : console
    Created on : 23-Feb-2013, 7:54:01 PM
    Author     : dawson
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#console {
    margin: 10px 10px 10px 13px;
    width: 83%;
    float: left;
}

#mc {
    
    height:85%;
    width: 100%;
    border: 1px solid #000;
    overflow-y:scroll;
}

#noct-input {
    width:600px;
    master
}