/* 
    Document   : main
    Created on : 23-Feb-2013, 7:29:50 PM
    Author     : dawson
    Description:
        Purpose of the stylesheet follows.
*/

content {
    width:95%;
    border: 1px solid #000;
    margin : 0px 20px 0px 20px;
}