/* 
    Document   : header
    Created on : 23-Feb-2013, 6:27:45 PM
    Author     : dawson
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

header {
    border-bottom: 2px solid #000;
    padding : 0px 20px 0px 20px;
    margin:  10px;
    width:95%;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
}

header #noct-logo {
	font-size: 40px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
}

header #noct-brand {
    float: right;
}

#noct-brand-njs {
    border-bottom: 1px solid #000;
    margin: 0;
}

#noct-brand-web {
    width: 100%;
    text-align: center;
}
