/* 
    Document   : menu
    Created on : 23-Feb-2013, 8:09:36 PM
    Author     : dawson
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

#noct-rpanel {
  float : right;
  border: 1px solid #000;
  margin-right:12px;
  margin-top:28px;
  padding:10px 0px 10px 0px;
}

.noct-menu-item {
  margin-right: auto;
  margin-left: auto;
}

#noct-menu {
  width:100%;

  margin-right: auto;
  margin-left: auto;
}

.noct-button {
  width: 140px;
  height: 24px;
  border: 1px solid #000;
  padding-top: 5px;
  cursor: pointer;
  text-align: center;    
  margin: 10px 6px 3px 10px;
  box-shadow: 0px 0px 15px #888888;
}

#noct-authed-menu {
  visibility:hidden;
}

#noct-reg-menu {
  visibility:hidden;
}

#noct-channel {
  font-weight: 900;
  color:#558F1D;
}