html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   height:100%;
   position:relative;
}

#main {
	padding: 10px;
	margin-top: 60px;
	padding-bottom: 60px;
}
#main.static {
	background-image: url(/static.gif);
}
#left {
	width: 69%;
	float: left;
	border: 1px solid #000;
}


.row {
	font-size: 3em;
}

form.input {
	position: absolute;
	bottom: 5px;
	left: 15px;
}


.mc {
	display:none;
}


.mc.active{
	display:block;
}

.mc .scrollback {
	font-family: "Lucida Console", Monaco, monospace;
	padding: 5px;
}

.ch-link.active {
	font-weight:bold;
}

.ch-box {
	width: 35px;
	height: 22px;
	border: 1px solid #000;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}