<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nOctave</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/js/libs/jquery-1.9.0/jquery.min.js"></script>
    <script src="/js/ejs.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/noctave.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="logo">nOctave</div>
        <div id="branding-right">node + octave / web</div>
      </div>
      <div id="main">
        <div id="left">
          <div id="mc">
          </div>
        </div>
        <div id="right">
          <div id="menu">
            <ul><li><a href="#">Load</a></li><li><a href="#">Save</a></li><li><a href="#">Something else</a></li></ul>
          </div>
          <div id="channels">
            CHANNEL SELECTOR
          </div>
        </div>
        
      </div>

      <div id="footer">
        <div>
          Footer content here.
        </div>
      </div>
    </div>
  </body>
</html>