<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nOctave</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/content.css" type="text/css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="/css/menu.css" type="text/css"/>
<link rel="stylesheet" href="/css/console.css" type="text/css"/>

    <script src="/js/libs/jquery-1.9.0/jquery.min.js"></script>
    <script src="/js/ejs.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/noctave.js"></script>

    <script>
        function sizeScreen() {
            $('#content').height($(window).height() - $('header').height() - $('footer').height());
            $('#menu').height(($(window).height() - $('header').height() - $('footer').height()) * .9);
            //$('#mc').width(($(window).height() - $('menu').width());
            $('#mc').height(($(window).height() - $('header').height() - $('footer').height()));
        }
        window.onload = sizeScreen;
    </script>
  </head>
  <body>
    <div id='container'>
      <header>
        <font id="logo">nOctave ></font>
        <div id='branding' >
            <div id='branding-node-js' ><font>node + octave</font></div>
            <div id='branding-web'><font>web</font></div>
        </div> 
      </header>

      <div id='content'>
            
        <div id="mc">
        </div>

        <div id="right">
            
            <div id="menu">
                <div id="buttons">
                    <div class="button" id="new-channel">New Channel</div>
                    <div class="button" id="reset-channel">Reset Channel</div>
                </div>
            </div>

            <div id="channels">
                <ul><li><a href="#" class="ch-link active">Ch 1</a></li></ul>
            </div>
        </div>

      </div>

      <footer>
            <div>
                <ul>
                    <li>Ryan Palmer</li>
                    <li>Dawson Reid</li>
                </ul>
            </div>
        </footer>
    </div>
  </body>
</html>