<div id="mc-<%= channel %>" class="mc">
  <div class="scrollback"><div>Channel <%= channel %></div><%= scrollback %></div>
  <form class="input"><input class="input-text" type="text" name="input" /><input type="submit" value="Submit Ch <%= channel %>"></form>
</div>