<div id="mc-<%= ch %>" class="mc" style="display:none;">
  <div class="scrollback"><%= scrollback %></div>
  <form class="input"><input class="input-text" type="text" name="input" /><input type="submit" value="Submit Ch <%= ch %>"></form>
</div>